<ul>
  <li class="active">
    <a [routerLink]="'/teacherdashboard'" routerLinkActive="active" class="nav-link">Dashboard</a>
  </li>
  <li class="active">
    <a [routerLink]="'stutest'" routerLinkActive="active" class="nav-link">Test</a>
  </li>
  <li class="active">
    <a [routerLink]="'question'" routerLinkActive="active" class="nav-link">Question</a>
  </li>
  <li class="active">
    <a [routerLink]="'quesDetails'" routerLinkActive="active" class="nav-link">Question Details</a>
  </li>
  <li><a type="button" (click)='logout()'>Logout</a></li>
</ul>
