<ul>
  <li class="active">
    <a [routerLink]="'/admindashboard'" routerLinkActive="active" class="nav-link">Dashboard</a>
  </li>
  <li class="active">
    <a [routerLink]="'course'" routerLinkActive="active" class="nav-link">Course</a>
  </li>
  <li class="active">
    <a [routerLink]="'subject'" routerLinkActive="active" class="nav-link">Subject</a>
  </li>
  <li class="active">
    <a [routerLink]="'teacher'" routerLinkActive="active" class="nav-link">Teacher</a>
  </li>
  <li><a type="button" (click)='logout()'>Logout</a></li>
</ul>


